@model Task.Models.Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Product/Edit" method="post">

    <input type="hidden" class="form-control" value="@Model.Id" name="Id" />

    Name: <input type="text" class="form-control" value="@Model.Name" name="Name" />
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    <br />Description: <input type="text" class="form-control" value="@Model.Description" name="Description" />
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

    <br />Quantity: <input type="number" class="form-control" value="@Model.Quantity" name="Quantity" />
    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })

    <br />Price: <input type="number" class="form-control" value="@Model.Price" name="Price" />
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })

    <br /><input type="submit" value="Edit This Product Info!" class="btn btn-success" />
</form>