@model List<Task.Models.Entities.Product>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a class="btn btn-primary" href="/Product/Create">Add Product</a>
<hr />
<h3>All Products</h3>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <!--dynamic row-->
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Description</td>
            <td>@s.Quantity</td>
            <td>@s.Price</td>
            <td><a href="/product/edit/@s.Id" class="btn btn-success">Edit</a></td>
            <td><a href="/product/delete/@s.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>