@model List<Lec_03.Models.Entities.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a class="btn btn-primary" href="/Student/Create">Add Student</a>
<hr />
<h3>All Students</h3>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Gender</th>
        <th>Cgpa</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <!--dynamic row-->
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Dob</td>
            <td>@s.Gender</td>
            <td>@s.Cgpa</td>
            <td><a href="/student/edit/@s.Id" class="btn btn-success">Edit</a></td>
            <td><a href="/student/delete/@s.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
